<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceController</servlet-name>
        <servlet-class>Controller.DeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>Controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>Controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemController</servlet-name>
        <servlet-class>Controller.RemoveItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>Controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMobileController</servlet-name>
        <servlet-class>Controller.UpdateMobileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewMobileController</servlet-name>
        <servlet-class>Controller.AddNewMobileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceController</servlet-name>
        <url-pattern>/devices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemController</servlet-name>
        <url-pattern>/removeItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/deleteMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMobileController</servlet-name>
        <url-pattern>/updateMobile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewMobileController</servlet-name>
        <url-pattern>/addMobile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
